.fullscreen {
  margin-top: 80px;
}

@media (max-width: 767px) {
  .fullscreen {
    margin-top: 50px;
  }
}

.wrapper-fullscreen {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.fullscreen {
  display: flex;
  min-height: 94vh;
}

.fullscreen__body {
  flex: 1 1 auto;
  max-width: 300px;
  margin: 0px auto;
  padding: 0px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fullscreen__link {
  align-self: center;
}
