// стили конкретного слайдера
.slider {
  margin-top: 50px;
  position: relative;
}
.slider .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  font-size: 0;
  width: 30px;
  height: 60px;
  border: 0;
}
.slider .slick-arrow .slick-prev {
  left: 0;
  background: url('/img/left-arrow.png') 0 0 / 100% no-repeat;
  margin-left: 20px;
  z-index: 4;
}
.slider .slick-arrow .slick-next {
  right: 0;
  background: url('/img/right-arrow.png') 0 0 / 100% no-repeat;
  margin-left: 20px;
}
.slider__item {
  height: 95vh;
}

.slider__item img {
  width: 100%;
  position: relative;
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

// общие стили slick
/* Слайдер */
.slick-slider {
}
/* Слайдер запущен */
.slick-slider.slick-initialized {
}
/* Слайдер с точками */
.slick-slider.slick-dotted {
}
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track {
  display: flex;
}
/* Слайд */
.slick-slide {
}
/* Слайд активный (показывается) */
.slick-slide.slick-active {
}
/* Слайд основной */
.slick-slide.slick-current {
}
/* Слайд по центру */
.slick-slide.slick-center {
}
/* Клонированный слайд */
.slick-slide.slick-cloned {
}
/* Стрелка */
.slick-arrow {
}
/* Стрелка влево */
.slick-arrow.slick-prev {
}
/* Стрелка вправо */
.slick-arrow.slick-next {
}
/* Стрелка не активная */
.slick-arrow.slick-disabled {
}
/* Точки (булиты) */
.slick-dots {
}
.slick-dots li {
}
/* Активная точка */
.slick-dots li.slick-active {
}
/* Элемент точки */
.slick-dots li button {
}

@media (max-width: 767px) {
  .slider__item img {
    // height: 50vh;
  }
}
